
<form [formGroup]="firstPageForm" class="form-inline" (ngSubmit)="submit(firstPageForm.value)" >  
    <div class="form-group"  [ngClass]="{'error': !validateMatrixN() }">
        <label for="matrixN">N:</label>
        <input type="number" class="form-control" id="matrixN" formControlName="matrixN">
    </div>
    <div class="form-group" [ngClass]="{'error': !validateMatrixM() }">
        <label for="matrixM">M:</label>
        <input type="number" class="form-control" id="matrixM" formControlName="matrixM">
    </div>  
    <button type="submit" class="btn btn-success" [attr.disabled]="firstPageForm.invalid ? true : null">
      Отобразить матрицу
    </button>
</form>

<div class="alert alert-danger" *ngIf="firstPageForm.invalid">
    {{matrixSizeWrongMesssage}}
</div>


